<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'templates/style1.css' %}">
    <title>A</title>
</head>
<body>
    <p>Jij bent: </p>
    <button onclick="window.location.href='B'">
        <div><p>Een fan van 90s music</p></div>
    </button>
    <button onclick="window.location.href='C'">
        <div><p>Een fan van 90s games</p></div>
    </button>
</body>
</html>