<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K</title>
</head>
<body>
    <h1>Ik gebruik mijn computer</h1>
    <button onclick="window.location.href='r7'">
        <div>om met mensen te chatten</div>
    </button>
    <button onclick="window.location.href='r8'">
        <div>om spelletjes te spelen</div>
    </button>
</body>
</html>